<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282872810523-qf2c9rsgho3e50ml8vea7lcjhmtn8m0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282872810523-qf2c9rsgho3e50ml8vea7lcjhmtn8m0u</string>
	<key>API_KEY</key>
	<string>AIzaSyAGseULMl3Vo9rGmXJPCXX6wk_Y2zxUT9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>282872810523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minsta</string>
	<key>PROJECT_ID</key>
	<string>minsta-d2753</string>
	<key>STORAGE_BUCKET</key>
	<string>minsta-d2753.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282872810523:ios:b3c8cb403a6ebfaca3bcbe</string>
</dict>
</plist>